body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  background-color: rgb(80, 218, 62);
  color:aliceblue;
  padding-left: 1em;
}
.App{
  display: grid;
  grid-template-rows: 10% 85% 5%;
  height: 100vh;
}
.Switch{
  text-align: center;
}
