.MainLayOut {
	display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 80% 10%;
    box-sizing: border-box;
    height: 100vh;
}
header{
    grid-column: span 12;
}
aside{
    grid-column: span 3;
}
main{
    grid-column: span 9;
}
footer{
    grid-column: span 12;
}
/* .Header{
    column-span: 6;
    height: 5em;
    padding-left: 4em;
    grid-template-rows: auto;
}
.MainLayOut> aside{
    grid-column: 1/ span 2;
    grid-template-rows: auto;
}
.MainLayOut >main{
    grid-column: 2/span 4;
    grid-template-rows: 85%;    
} */


