.Hub{
    display: grid;
    justify-content:space-between;
    width:100%;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    background-color: darkslategray;
}
input{
    grid-column: 5fr;
    height: 70%;   
}
ul{
    width: 7fr;
    display: flex;
    justify-content: left;
}
ul > *{
    padding-left: 3em;
    font-size: larger;
    font-weight: 600;
    color: aliceblue;
}