<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date:"medium"}}</p>
      </div>
    </header>
    <p>New York: {{ currentTemperaturs.newYork | number: '1.1-2' |temperature: 'cel': 'fah' }}</p>
    <p>Berlin: {{ currentTemperaturs.berlin | number: '1.1-2' |temperature: 'cel': 'fah'}}</p>
    <p>Paris: {{ currentTemperaturs.paris | number: '1.1-2' |temperature: 'cel': 'fah'}}</p>
    <p>Chicago: {{ currentTemperaturs.chicago | number: '1.1-2' |temperature: 'cel': 'fah'}}</p>
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of historicTemperatures | sort; track temperature) {
      <li (click)="onReset($index)">{{ temperature | temperature: 'cel': 'fah'}}</li>
      }
    </ul>
  </article>
</main>
